@media (min-width: 576px) {
    .card-deck .card {
        margin-bottom: 51px;
    }
}

@media screen and (max-width: 992px) {
    .container {
        padding-left: 0;
        padding-right: 0;
    }

    .carousel-indicators {
        visibility: hidden;
    }

    .menu-logo-right {
        visibility: hidden;
    }
}

@media screen and (max-width: 1199px) {
    .carousel-indicators {
        right: -400px !important;
    }
}

@media only screen and (max-width: 533px) {
    .custom-btn {
        margin-top: 47px !important;
    }
}

@media only screen and (max-width: 388px) {
    .custom-btn {
        visibility: hidden;
    }
}